<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://kaygerya:123456Aa@ds047865.mlab.com:47865/egeuniv" />
  </connectionStrings>
</configuration>